.main {
    width: 100%;
    min-height: 90vh;
    background-color: #373F51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.equip {
   display: flex;
   flex-direction: column;
   gap: 25px;
   border: #099d8d solid 1px;
   border-radius: 25px;
   padding: 15px;
   @media all and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    gap: 25px;
    border: #099d8d solid 1px;
    border-radius: 25px;
    padding: 15px;
}
}
.card1{
    width: 200px;
    height: 200px;
    background-color: #099d8d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
}
.card1:hover {
    opacity: 1;
      
}
.parraf {
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue';
    font-weight: 600;
}
.card2{
    width: 200px;
    height: 200px;
    background-image: url(../images/screamteam.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
}
.card2:hover {
    opacity: 1;
      
}
.card3{
    width: 200px;
    height: 200px;
    background-image: url(../images/diversitech.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
   
}
.card3:hover {
    opacity: 1;
      
}
.personal {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: #099d8d solid 1px;
    border-radius: 25px;
    padding: 15px;
@media all and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    gap: 25px;
    border: #099d8d solid 1px;
    border-radius: 25px;
    padding: 15px;
}
}
.card4 {
    width: 200px;
    height: 200px;
    background-image: url(../images/openspaces.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
   
}
.card4:hover {
    opacity: 1;
}
.card5 {
    width: 200px;
    height: 200px;
    background-image: url(../images/javanime.JPG);
    background-position: center;
    background-size: contain;
    border-radius: 15px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
}
.card5:hover {
    opacity: 1;
}
.card6 {
    width: 200px;
    height: 200px;
    background-image: url(../images/hp.JPG);
    background-position: center;
    background-size: contain;
    border-radius: 15px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
}
.card6:hover {
    opacity: 1;
}
.card7 {
    width: 200px;
    height: 200px;
    background-image: url(../images/adivina.JPG);
    background-size: contain;
    border-radius: 15px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
}
.card7:hover {
    opacity: 1;
}
.description {
    text-align: center;
    padding: 10px;
    width: 20ch;
    font-family: 'Open Sans', 'Helvetica Neue';
}
.card8 {
    width: 200px;
    height: 200px;
    background-image: url(../images/rock-paper-scissors.JPG);
    background-size: contain;
    background-color: #D8BD8A;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
}
.card8:hover {
    opacity: 1;
}
.card9 {
    width: 200px;
    height: 200px;
    background-image: url(../images/figuras.JPG);
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
}
.card9:hover {
    opacity: 1;
}
